USE [master]
GO
/****** Object:  Database [CRUDDBPROYREACT]    Script Date: 26/07/2023 09:36:37 a. m. ******/
CREATE DATABASE [CRUDDBPROYREACT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDDBPROYREACT', FILENAME = N'C:\Users\pamej\CRUDDBPROYREACT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDDBPROYREACT_log', FILENAME = N'C:\Users\pamej\CRUDDBPROYREACT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDDBPROYREACT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDDBPROYREACT]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 26/07/2023 09:36:38 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[idAlumno] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[appat] [varchar](50) NULL,
	[apmat] [varchar](50) NULL,
	[calificacion] [float] NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
